<app-signup></app-signup>
<div class="bg">
    <div class="row">
        <div class="col-sm-6 text-right pt-5">
            <img class="align-middle m-5"
            height="300px" src="/assets/What-Is-Scribe-Image.png">
        </div>
        <div class="col-sm-4">
            <h2 class="mx-5 my-5">What is Scratches?</h2>
            <h6 class="mx-5 my1">
                <i>
                Scratches is a thought sharing platform where
                you can ask for help on some problematic codes,
                share your craziest ideas with the world, put
                comments on other's post and lot more... <br/>
                You can also interact with other users 
                by commenting on their posts.Form groups for your 
                different project ideas by finding similar minded 
                people over the internet.Start searching your
                codemate XD now...
                </i>
                <hr>
                <b>Create a FREE account NOW and get started...</b>
                <br/>
            </h6>
        </div>    
    </div>
    <div class="row">    
        <div class="offset-sm-1 col-sm-10
        text-center pt-5 mt-5">   
            <hr>     
            <h5>Contact Us!</h5>
            <hr/>
            <div class="row">
                <div class="offset-sm-2 col-sm-4 text-left pt-5 verticalLine mt-1">
                    <img height="20px" src="/assets/Phone.png">
                    <i class="fa fa-phone mt-3">
                    8617463248,
                    7501205356</i>
                    <br/>
                    <img height="20px" src="/assets/Mail.png">
                    <i class="fa fa-envelope mt-3">
                    iamscratches@gmail.com</i>
                    <br/>
                    <img height="20px" src="/assets/Facebook.png">
                    <i class="fa fa-facebook mt-3">
                    Suvnkr Bhatt</i>
                    <br/>
                </div>
                
                <div class="col-sm-5 text-left py-5 my-1 px-5">
                    <img height="20px" src="/assets/Address.png">
                    <i class="fa fa-map-marker mt-3">
                    Iamscratches Openware Pvt. Ltd.</i>
                    <br/>
                    <i class="fa fa-map-marker mt-1">
                    BF-52, Vasundhara Apartment, Rabindrapally</i>
                    <br/>
                    <i class="fa fa-map-marker mt-1">
                    Keshtopur, Kolkata-700101</i>
                    <br/>
                    <i class="fa fa-map-marker mt-1">
                    West Bengal, India</i>
                    <br/>

                </div>
            </div>
        </div>
    </div>
</div>